@charset "utf-8";

/*全体*/
.wrapper{
    max-width: 600px;
    margin: 0 auto;
    color: #666;
}
#header {
    text-align: center;
    font-size: 20px;
    width: 100%;
    margin-top: 3rem ;
    margin-bottom: 0.5rem ;
}

/*カレンダー*/
#calendar {
    text-align: center;
    width: 100%;
}
table {
    outline: 2px solid #ffe4e1;
    border-collapse: collapse;
    width: 100%;
}
th {
    color: #000;
}
td {
    outline: 0.5px solid #ffe4e1;
    padding-top: 5px;
    padding-bottom: 40px;
    padding-left:20px;
    padding-right: 20px;
    text-align: center;
}
th{
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left:20px;
    padding-right: 20px;
    text-align: center;
}
/*日曜日*/
td:first-child {
    color: #ff6347;
}
th.Sunday{
    color: #ff6347;
    background: #ffffff;
}

/*土曜日*/
td:last-child {
    color: #1e90ff;
}
th.Saturday{
    color: #1e90ff;
    background: #ffffff;
}
/* 平日 */
th.nothigDate{
    background: #ffffff;
}

/*前後月の日付*/
td.disabled {
    background-color: #dcdcdc;
    color: #f8f8ff;
}
/*本日*/
td.today {
    background-color: #D65E72;
    color: #fff;
}
/*生理日*/
td.seiriDay {
    background-color: #FFCCFF;
    /* background-image:url(../star.jpg);  */
    background-size:cover;
    padding-left:15px;
    padding-right: 15px;
    object-fit: cover;
}
/*背景色*/
td.nothigDay {
    background-color: #FFFFFF;
}

/*ボタン*/
#next-prev-button {
    position: relative;
}
#next-prev-button button{
    cursor: pointer;
    background: #f08080;
    color: #fff;
    border: 1px solid #f08080;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0rem 1rem;
    margin-top: 3rem ;
    margin-bottom: 0.5rem ;

}
#next-prev-button button:hover{
    background-color: #D4BB92;
    border-color: #D4BB92;
}
#prev {
    float: left;
}
#next {
    float: right;
}
